a:link {color:#FFFFFF;}
a:visited {color:#FFFFFF;}
a:hover {color:#FFFFFF;}  
a:active {color:#FFFFFF;} 

.night{
	font-family:Helvetica,Calibri,Arial,sans-serif;
	background-color:#141414;
	color:white;
}

.day{
    font-family:Helvetica,Calibri,Arial,sans-serif;
    background-color:white;
    color:black;
}

h1{
	text-align:center;
}

.container {
	background-color:white;
}

#drinkTitle{
	text-align:center;
}

#countdown{
	text-align:center;
	font-size:2100%;
}

#drinkbreakdown{
	text-align:center;
	font-size:40px;
}

#drinkbreakdownoz{
	text-align:center;
	font-size:30px;
}

#currdrink{
	text-align:center;
	font-size:20px;
	font-weight:bold;
}

#audiolist{
	width:200px;
}

#usercontent{
	text-align:center;
}

#hack {
	display:inline;
}

.message
{
	width: 30%;
	border: 1px solid;
	color: #fff;
	padding: 15px;
    position: fixed;
    visibility: hidden;
}

.browser
{
    background-color: #eaaf51;
    border-color: #d99a36;
}

.message h3
{
    margin: 0 0 5px 0;
}

.message p
{
    margin: 0;
}